html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%; 
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
    --color-red: rgb(217, 100, 77);

    --color-star: lightgray;
    --color-star-hover: black;
    --color-star-active: orange;
    --color-gray: lightgray;

    /** For all borders **/
    --color-border: black;
    --color-border-active: darkslategray;

    --color-submit-hover: darkslategray;
    --color-submit: black;

    --color-selected: darkslategray;


     /** Default font - size & color **/
     --default-font-size: calc(13px + (17 - 9) * ((100vw - 320px) / (2048 - 320)));
     --default-line-height: 1.5;
     --default-text-color: black;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--default-text-color);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);

	margin: 0;
	outline: 0;
	padding: 0;
}
body.waiting * { cursor: wait; } /** used for loading state **/

/** Hide Arrows for type number **/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; }
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

button:focus { outline: none; }

header { font-size: 3em; }

/*** Classes ***/
.headline {
    display: flex;
    justify-content: center;

    text-align:center;
    font-size: 2em;
}

/** Flexbox **/
.flex-container {
    display: flex;
    flex-direction: column; /** Swap vertical and horizontal axis */
    align-items: center; /** Center horizontally (due to flex-direction change) **/
}

/** Bottom border after every product except last one, should be done this way by using for-in in VueJS **/
.flex-container > div:not(:last-child) {  border-bottom: 1px solid black;  }

.item {
    margin: 36px;
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}
/** First child animate faster than other childs **/
.item:first-child { animation: item-load 0.5s ease-out; }
.item:nth-child(2) { animation: item-load 0.9s ease-out; }

@keyframes item-load {
    0% { 
        transform: translateX(-120%);
    }
}

/** Product Item **/
.item h1 {     
    margin: 0;
    font-weight: 1000;
    font-size: 3em;
}

.item ul {
    background-color: darkslategray;
    padding: 8px;
    margin: 8px 0px;
    border-radius: 4px 36px 36px 4px;

    border-right: 50%;

    color: var(--color-star);

    display:flex;
    align-items: center;

    list-style-type: none;
}

.item ul li { 
    padding: 4px;
    transition: color 0.2s; 
}

.item ul li.fa-star { cursor: pointer; }
.item ul li.fa-star.focus { color: var(--color-star-hover) !important }
.item ul li.fa-star.active { color: var(--color-star-active); }

.item .price {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 28px;
    padding-bottom: 8px;
    color: var(--color-red);
}
.item .price > span { padding-right: 32px; }
.item .price .old { color: var(--color-gray); }

.item .new-label { 
    width: 30%;
    padding: 2px;
    line-height: 1;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    border: 2px solid var(--color-border);
    border-radius: 14px;

    transition: background-color 0.2s ease-out;
}
.item .new-label:hover { background-color: var(--color-red); }

/* Submit button and Quantity input */
.item .addToCart { 
    padding: 36px 0;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.item .addToCart .quantity {
    flex-grow: 1;

    width: 0; /** Remove default width to grow with flex-box */
    min-width: 86px;

    padding: 16px 0;
    margin-right: 18px;
    margin-top: 12px;

    border: 2px solid var(--color-border);
    border-radius: 36px;

    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    transition: box-shadow 0.2s ease-in, border 0.2s ease-in;

    cursor: pointer;
}
.item .addToCart .quantity:focus {
    outline: none;
    border-color: var(--color-border-active);
    box-shadow: inset 0px 0px 0px 1px var(--color-border-active);
}

.item .addToCart button {
    position: relative;

    flex-grow: 3;
    min-width: 122px;

    height: 64px;
    z-index: 1;

    background-color: var(--color-submit);
    border-radius: 36px;
    border: 0px;
    overflow: hidden;

    color: white;
    font-weight: 600;
    font-size: 1em;

    /** Gap between input and button **/
    margin-right: 18px;
    margin-top: 12px;

    cursor: pointer;
}

.item .addToCart button::before {
    content: '';
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 0;

    background-color: var(--color-submit-hover);
    z-index: -1;

    transition: height 0.4s ease-in-out;
}

.item .addToCart button:focus::before,
.item .addToCart button:hover::before {
    height: 100%;
}

/*** Item params ***/
/** Color Params ***/
.item .color-param { padding-top: 40px; }
.item .color-param .title { font-weight: bold; }

.color-param .options { 
    display:flex;
    flex-wrap: wrap;
}

.color-param .options > div {
    height: 38px;
    width: 38px;
    border-radius: 50%;

    margin-top: 18px;
    margin-right: 18px;

    cursor: pointer;

    transition: box-shadow 0.2s;
}

.color-param .options > div.active { box-shadow: 0 0 0 4px #fff, 0 0 0 6px var(--color-selected); }
.color-param .options > div:hover { box-shadow: 0 0 0 4px #fff, 0 0 0 6px hsl(227, 77%, 36%); }

.color-param .white {  
    background-color: white;
    border: 1px solid black;
}

.color-param .black {  background-color: black;}
.color-param .red { background-color: tomato; }
.color-param .blue { background-color: royalblue; }
.color-param .yellow { background-color: yellow; }
.color-param .purple { background-color: blueviolet; }

/*** Misc **/
.loading {
    /** Correct position **/
    position: relative;
    top: 50%;
    left: 5px;

    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;

    width: 28px;
    height: 28px;

    animation: rotate 2s linear infinite;
}

/** Loading Icon animation **/
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



